<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CalculadoraUwU</title>
</head>
<body>
<h1>Menu de la Calculadora</h1>
	<ul>
		<li><a href="calculoSuma?num1=100&num2=20">Sumar</a></li>
		<li><a href="calculoResta?num1=100&num2=20">Resta</a></li>
		<li><a href="calculoMultiplicacion?num1=100&num2=5">Multiplicacion</a></li>
		<li><a href="calculoDivision?num1=100&num2=20">Division</a></li>
		<li><a href="calculoPotencia?num1=5&num2=2">Potencia</a></li>
		<li><a href="calculoRaiz?num1=25&num2=2">Raiz</a></li>
	</ul>
</body>
</html>